@model AutodorInfoSystem.Models.User
@{
    ViewData["Title"] = "Вход";
}

<div class="login-box">
    <h2 class="h2-text text-center mt-5 mb-5">Вход</h2>
    <form class="d-flex flex-column align-items-center" asp-action="Login">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <input asp-for="Login" type="text" class="form-control enter-input mb-3" placeholder="Логин" required>
            <span asp-validation-for="Login" class="text-danger"></span>
        </div>
        <div class="form-group">
            <input asp-for="Password" type="password" class="form-control enter-input mb-3" placeholder="Пароль" required>
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
        <div class="form-check d-flex justify-content-between align-items-center w-100">
            <div>
                <input type="checkbox" class="form-check-input" id="remember">
                <label class="form-check-label" for="remember">Запомнить меня</label>
            </div>
            <a href="#" class="text-primary">Забыли пароль?</a>
        </div>
        <button type="submit" class="btn btn-custom-primary mt-5 mb-4">Авторизоваться</button>
    </form>
</div>