@model AutodorInfoSystem.Models.Project

@{
    ViewData["Title"] = "Cоздание проекта";
}

<h1 class="mb-4">Cоздание проекта</h1>

<div class="card p-4">
    <div class="row">
        <div class="col">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="IdProject" />
                <input type="hidden" asp-for="IsCompleted" value="false" />
                <div class="form-group">
                    <label class="control-label" for="Name">Название</label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="control-label" for="Description">Описание</label>
                    <textarea asp-for="Description" class="form-control" rows="4"></textarea>
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                @if (User.IsInRole("Admin"))
                {
                    <div class="form-group">
                        <label class="control-label" for="IdProjecter">Проектировщик</label>
                        <select id="IdProjecter" name="IdProjecter" class="form-control">
                            @foreach (var projecter in ViewBag.Projecters)
                            {
                                <option value="@projecter.Value">@projecter.Text</option>
                            }
                        </select>
                    </div>
                }
                <div class="form-group">
                    <button class="btn btn-primary" type="submit">
                        <i class="fas fa-check">
                        </i>
                        Создать
                    </button>
                </div>
            </form>
            <div class="mt-3">
                <a asp-action="Index" class="btn btn-outline-primary">
                    <i class="fas fa-arrow-left">
                    </i>
                    Назад
                </a>
            </div>
        </div>
    </div>
</div>
