@using System.Security.Claims
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - АДИС</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/AutodorInfoSystem.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/font-awesome/css/all.css">
    <link href="~/favicon.ico" rel="shortcut icon" runat="server" type="image/x-icon"/>
    <link href="~/favicon.ico" rel="icon" runat="server" type="image/ico" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">
                    АДИС
                </a>
                <button aria-controls="navbarNav" aria-expanded="false" aria-label="Переключить навигацию" class="navbar-toggler" data-bs-target="#navbarNav" data-bs-toggle="collapse" type="button">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link text-dark active" asp-controller="Projects" asp-action="Index">
                                <i class="fas fa-project-diagram"></i>
								Проекты
                            </a>
                        </li>
                    </ul>
                    @if(User.IsInRole("Admin"))
                    {
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            <li class="nav-item">
                                <a class="nav-link text-dark active" asp-controller="Users" asp-action="Index">
                                    <i class="fa-solid fa-user"></i>
                                    Пользователи
                                </a>
                            </li>
						</ul>
					}
                    <ul class="navbar-nav ms-auto">
                        <!-- Используйте ms-auto для выравнивания вправо -->
                        <li class="nav-item">
                            @if (!User.Identity.IsAuthenticated)
                            {
                                <div class="d-none d-md-block">
                                    <a class="btn btn-outline-primary" data-bs-target="#loginModal" data-bs-toggle="modal" href="#">
                                        <i class="fas fa-sign-in-alt"></i>
                                        Войти
                                    </a>
                                </div>

                                <div class="d-block d-md-none">
                                    <a class="nav-link text-dark active" data-bs-target="#loginModal" data-bs-toggle="modal" href="#">
                                        <i class="fas fa-sign-in-alt"></i>
                                        Войти
                                    </a>
                                </div>
                            }
                            else
                            {
                                <div class="d-none d-md-block">
                                    <a class="btn btn-outline-danger" asp-action="Logout" asp-controller="Users" onclick="return confirm('Вы уверены, что хотите выйти?')">
                                        <i class="fas fa-sign-out-alt"></i>
                                        Выйти
                                    </a>
                                </div>
                                <div class="d-block d-md-none">
                                    <a class="nav-link text-dark active" asp-action="Logout" asp-controller="Users" onclick="return confirm('Вы уверены, что хотите выйти?')">
                                        <i class="fas fa-sign-out-alt"></i>
                                        Выйти
                                    </a>
                                </div>
                            }
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <footer class="text-center mt-4">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <h5>
                        О нас
                    </h5>
                    <p>
                        «Архангельскавтодор» — государственное казённое учреждение Архангельской области, осуществляющее полномочия государственного управления в сфере дорожного хозяйства региона.
                    </p>
                    <p>
                        Основные задачи агентства включают подготовку проектной документации, контроль за качеством выполняемых работ и обеспечение безопасности движения.
                    </p>
                </div>
                <div class="col-md-4">
                    <h5>
                        Быстрые ссылки
                    </h5>
                    <ul class="list-unstyled">
                        <li>
                            <a asp-controller="Projects" asp-action="Index">
                                Проекты
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <h5>
                        Свяжитесь с нами
                    </h5>
                    <div>
                        <strong>Телефоны:</strong><br>
                        <div>(8182) 20-64-55</div>
                        <div>(8182) 20-66-68 — Центр управления движением.</div>
                        <div>(8182) 45-42-84 — Согласование в ИС «КТГ-услуга» (Росдормониторинг) и опасных грузов.</div>
                    </div>
                    <p>
                        Запросы на согласование перевозки опасных грузов отправлять по адресу sr@ador.ru.
                    </p>
                </div>
            </div>
        </div>
        <p>
            © @DateTime.Now.Year - Архангельскавтодор
        </p>
    </footer>
    <!-- Login Modal -->
    <div aria-hidden="true" aria-labelledby="loginModalLabel" class="modal fade" id="loginModal" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="loginModalLabel">
                        Вход
                    </h5>
                    <button aria-label="Close" class="btn-close" data-bs-dismiss="modal" type="button">
                    </button>
                </div>
                <div class="modal-body">
                    <form asp-controller="Users" asp-action="Login">
                        <div class="mb-3">
                            <label class="form-label" for="login">
                                Логин
                            </label>
                            <input class="form-control" name="login" type="text" />
                        </div>
                        <div class="mb-3">
                            <label class="form-label" for="password">
                                Пароль
                            </label>
                            <input class="form-control" name="password" type="password" />
                        </div>
                        <button class="btn btn-primary" type="submit">
                            Войти
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
