@{
    ViewData["Title"] = "Добро пожаловать";
}

<div class="text-center">
    <h1 class="display-4">Добро пожаловать в АДИС</h1>
    <p>Для начала вам надо будет войти, чтобы начать творить свои проекты или просматривать их</p>
    <a asp-action="Login" asp-controller="Users" class="btn btn-primary">Войти</a>
</div>
